@mixin flex 
	display: -webkit-flex
	display: flex
	transition: 0.5

@mixin wrap 
	width: 75%
	max-width: 800px
	margin: 0 auto

@mixin resetContainer 
	width: 100%

@mixin flexWrap
	display: -webkit-flex
	display: flex
	flex-wrap: wrap
	justify-content: center
	transition: 0.5s


