/*nabil css */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
body {
  margin: 0; }

#header {
  max-height: 280px;
  height: 280px;
  background: #272a32;
  overflow: hidden;
  background: url(../img/header.png); }

.headerClass {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-color: #272a32 !important; }

#header-img {
  width: 75%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center; }
  #header-img img {
    width: 100%; }

#content-members {
  width: 75%;
  max-width: 800px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.5s;
  margin-top: -50px; }

.teamMember {
  margin: 0 10px 20px 10px;
  text-align: center;
  width: 200px; }
  .teamMember img {
    width: 100%;
    border-radius: 100%;
    max-width: 200px; }

.teaser {
  padding-top: 10px; }
  .teaser span {
    font-size: 1.3em;
    font-weight: 700; }
  .teaser p {
    font-size: 0.9em; }

#insertMember {
  width: 0;
  margin: 0; }

body {
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 28px; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

a {
  color: #000; }

.overlay-base {
  width: 190px;
  height: 190px;
  position: relative;
  border-radius: 100%;
  border: #fff;
  border-style: solid;
  border-width: 5px; }
  .overlay-base img {
    opacity: 0.4;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease; }
  .overlay-base a {
    display: inline-block;
    border-radius: 100%; }

.overlay-base:hover img {
  opacity: 1;
  animation: 0.4s; }

.overlay1 {
  background: #33cc33; }

.overlay2 {
  background: #ff9900; }

.overlay3 {
  background: #a22970; }

.overlay4 {
  background: #b01616; }

.overlay5 {
  background: #286f75; }

.call-overlay {
  display: block; }

nav {
  background-color: rgba(93, 116, 117, 0.6); }

.nav {
  max-width: 500px;
  margin: 0 auto; }

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0; }
nav ul li {
  min-width: 80px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
  transition: 0.4s; }
nav ul li:hover {
  background: rgba(255, 255, 255, 0.3); }
  nav ul li:hover img {
    transform: scale(1.2);
    transition: 0.2s ease; }
nav a {
  text-decoration: none;
  color: #fff; }
nav li img {
  width: 30px;
  height: auto;
  padding: 0 0 5px;
  -webkit-filter: invert(1);
  filter: invert(1); }

.active {
  display: none; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
    .sidenav a:hover {
      color: #f1f1f1; }

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

#input {
  padding-top: 50px; }
  #input img {
    width: 200px;
    margin-top: 10px; }
  #input input {
    width: 100%;
    height: 25px; }

#btn {
  background: #272a32;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-size: 22px;
  color: white; }

.phrase {
  transform: rotate(-3deg);
  width: 70%;
  margin: 0 auto; }

@media only screen and (max-width: 530px) {
  .active {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: #5d7475;
    font-size: 15px; }
    .active img {
      width: 30px;
      transition: 0.2s; }
    .active img:hover {
      transform: rotate(90deg);
      width: 20px;
      cursor: pointer; }

  .nav {
    display: none; }

  ul {
    justify-content: center;
    width: 100%; }

  #header {
    height: 196px; }

  #menu {
    display: flex;
    list-style: none;
    flex-direction: column; }
    #menu li {
      padding: 7px; }
    #menu li img {
      display: none; }

  #content-members {
    margin-top: 15px; }

  li img {
    display: none; }

  #mobile-list {
    display: none; } }
#footer {
  width: 100%;
  height: 200px;
  background-color: #272a32; }

.footerpics {
  display: flex;
  justify-content: space-between;
  padding: 45px 0px 0px 35px; }

.policy img {
  width: 100px; }
  .policy img:hover .policytext {
    visibility: visible;
    opacity: 1; }

.policytext {
  position: relative;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s; }

.logo img {
  width: 250px;
  height: 100px; }

.teamname {
  color: white;
  text-align: center;
  margin: -45px; }

@media only screen and (max-width: 750px) {
  .policytext img, .footerpics img {
    display: none; }

  .teamname {
    padding: 80px 0 0 0; } }
@media only screen and (max-width: 530px) {
  .active {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: #5d7475;
    font-size: 15px;
    transform: scale(0.7); }

  .nav {
    display: none; }
    .nav ul {
      justify-content: center;
      width: 100%; }

  #header {
    height: 196px; }

  #menu {
    display: flex;
    list-style: none;
    flex-direction: column; }

  li {
    padding: 7px;
    display: none; }

  #content-members {
    margin-top: 15px; } }
#member-content {
  display: flex;
  width: 75%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px; }

.phrase {
  color: white;
  text-align: center;
  padding: 70px 20px; }

.member-pic {
  width: 30%;
  text-align: center; }

.member-disc {
  width: 70%;
  padding-left: 30px;
  padding-right: 30px; }

div > p:last-child {
  font-size: 1em; }

#member-content img {
  width: 100%;
  border-radius: 50%; }
  #member-content img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite; }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }
@media only screen and (max-width: 678px) {
  h3 {
    margin-top: -20px;
    font-size: 20px; }

  #member-content {
    display: block;
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px; }
    #member-content h2 {
      text-align: center; }

  .member-pic {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0; }

  .member-disc {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: justify; } }

/*# sourceMappingURL=Nabil.css.map */
