/// IMPORTING FONTS ///
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700')



/// IMPORTING PARTIALS /// 
@import "mixins"
@import "variables"


/// BASIC STYLING /// 

#header
	background: url("../img/header.jpgdsa")
	height: 280px

nav
	background-color: rgba(93, 116, 117, 0.6)
.nav
	@include wrap

#content 
	@include wrap
	@include flexWrap


.teamMember
	width: 30%
	margin: 10px
	text-align: center
	img 
		width: 100%
		border-radius: 100%
		max-width: 200px

.teaser 
	padding-top: 10px

	span
		font-size: 1.3em
		font-weight: 700
	p	
		font-size: 0.9em






/// TYPO ///

body 
	font-family: $font-stack

h1
	font-size: 36px

h2 
	font-size: 20px

h3
	font-size: 28px







/// COLOR OVERLAYS ///
#overlay-base
	position: relative

#overlay-base:after
	position: absolute
	content: ""
	top: 0
	left: 0
	width: 100%
	height: 100%
	opacity: 0.5

.overlay1
	background: $andrew

.overlay2
	background: $eva

.overlay3
	background: $luisa

.overlay4
	background: $nabil

.overlay5
	background: $roman



/// NAV BAR /// 

nav
	ul
		display: flex
		justify-content: space-evenly
		width: 50%
		margin-left: auto
		margin-right: auto

	ul li
		list-style: none
		display: flex
		flex-direction: column
		
	li a
		text-decoration: none
		color: white

	li img
		width: 30px
		height: auto

.active
	display: none


@media only screen and (max-width: 678px)

	.active
		display: flex
		justify-content: space-evenly
		border: solid
		width: 50%
		margin-left: auto
		margin-right: auto
		list-style: none
		text-decoration: none
		color: white

	.nav
		display: none

	ul li
		list-style: none
		display: flex
		flex-direction: row

	
	ul
		display: flex
		justify-content: center
		width: 50%
		margin-left: auto
		margin-right: auto

	li a
		text-decoration: none
		color: white

	li img
		width: 30px
		height: auto